@font-face {
    font-family: Roboto-regular;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-medium;
    src: url(fonts/Roboto/Roboto-medium.ttf);
}
body {
    background: url(images/bg.png) no-repeat;
    -moz-background-size:cover;
    background-size:cover;
        
}

.stores {
    margin: 50px auto;
    width: 100%;
    max-width: 388px;
}
.stores>a {
    display: inline-block;
    vertical-align: middle;
    width: 142px;
    height: 43px;
}
.stores>a:hover {
    opacity: .3
}
.stores>img {
    display: inline-block;
}

.iphone {
    width: 100%;
    max-width: 563px;
    margin: 36px auto;
}

.icon{
    text-align: center;
}

.staytuned {
    text-align: center;
    padding: 15px;
}
h1 {
    font-family: roboto-medium;
    font-size: 50px;
    text-align: center;
    color: white;
    margin: 15px;
}
.subscribe {
    background: rgba(60, 60, 60, 0.3);
    text-align: left;
    font-family: Roboto-regular;
    font-size: 18px;
    padding-left: 15px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    color: white;
    width: 60%;
    max-width: 560px;
    height: 49px;
    outline: none;
    border: none;
}
.button {
    background: #2c2c2c;
    color: white;
    font-family: Roboto-regular;
    font-size: 18px;
    padding: 11px 32px;
    margin-left: -4px;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    vertical-align: bottom;
    height: 49px;
}
.btn:hover {
    background: rgb(60, 60, 60);
    color: white;
}
.social {
    padding: 40px;
    text-align: center;
}
.social>a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
}
.social>a:hover {
    color: #313131;
}

   @media screen and (max-width:768px) { 
    body{
        background: black;
    }
}
